* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 760px;
    background-color: greenyellow;
}

.side_bar {
    position: relative;
    width: 100%;
    float: none;
}

.logo {
    margin-left: 10px;
}

.main {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.art_lisy {
    margin: 0;
}

.side_bar .nav,
.side_bar .tag_list {
    display: none;
    text-align: center;
}


/* 已用lable和复选框结合，使用lable可以控制复选框，此处将复选框隐藏*/


/* #menu {
    display: none;
} */

#lable_menu {
    position: absolute;
    /* top样式属性定义了定位元素的上外边距边界与其包含块上边界之间的偏移
    非定位元素设置此属性无效 */
    top: 10px;
    right: 10px;
    font-size: 18px;
    font-weight: 100;
    color: #333;
    display: block;
}


/* 给选框添加被选中伪类，使用兄弟选择器*/

#menu:checked~.nav,
#menu:checked~.tag_list {
    display: block;
}